@import "./styles";

.container-main{
    display: grid;
    grid-template-columns: 2 fr 1fr;
    grid-template-rows: 0.2fr minmax(0, auto);
    grid-template-areas: 
        "date date"
        "table summary";
    gap: 0.2rem;
}

.date{
    grid-area: date;
    text-align: center;
    margin: 20px;
}

.table{
    grid-area: table;
    margin: 0 auto;
    table{
        border-collapse: collapse;
        text-align: center;
    }
    th{
        background: $primary;
        color: white;
        width: 100px;
    }
    td{
        background: $secondary;
    }
    .total{
        border-bottom: 2px solid black;
    }
}

.summary{
    grid-area: summary;
    text-align: center;
    margin: 10px;
}

@media (max-width: 780px){
    .container-main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr minmax(0, auto);
        grid-template-areas: 
            "date summary"
            "table table";
    }
    .date{
        grid-area: date;
    }
    .table{
        grid-area: table;
    }
    .summary{
        grid-area: summary;
    }
}