.container{
    display:grid;
    min-height: 100vh;
    max-height: auto;
    grid-template-columns: 0.8fr 3fr;
    grid-template-rows: 80px minmax(0, 10fr) 100px;
    grid-template-areas: 
        "nav nav" 
        "sidebar main" 
        "sidebar footer";
    gap: 0.2rem;
}

nav{
    background: #606060;
    grid-area: nav;
}

main{
    background: #F8F8F8;
    grid-area: main;
}

.sidebar{
    background: #81b527;
    grid-area: sidebar;
}

footer{
    background: #606060;
    color: #F8F8F8;
    grid-area: footer;
}

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 5.8fr 1fr;
        grid-template-areas: 
            "nav"
            "sidebar"
            "main"
            "footer";
    }
}