{% extends "food_tracker/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'food_tracker/form.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if date %}
        <div class="center-form">
            <h2>
                Datum: {{ alt_date }}
            </h2>
            <div class="margined-div">
                <a href="{% url 'favorites' %}">
                    <button class="dir-btn">
                        Toon Favorieten
                    </button>
                </a>
            </div>
            <form class="search-form" action="{% url 'results' date %}" method="post">
                {% csrf_token %}
                <input class="search-txt" type="text" name="q" placeholder="Zoek Product Of Gerecht"> 
                <button class="search-btn" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    {% else %}
        <div class="center-form">
            <h2>
                Zoek producten om toe te voegen aan {{ meal.name }}
            </h2>
            <form class="search-form" action="{% url 'meal_results' meal.id %}" method="post">
                {% csrf_token %}
                <input class="search-txt" type="text" name="q" placeholder="Zoek Product"> 
                <button class="search-btn" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block help %}
    <p class="sentence">1. Gebruik de zoekbalk om te zoeken naar het product of gerecht dat u wenst.</p> 
    <p class="sentence">2. Klik op de loep om uw zoekopdracht te bevestigen.</p>
    <p class="sentence">3. Vult u niks in, krijgt u de hele database te zien.</p>
    <p class="sentence bottom">4. (optioneel) Klik op "toon favorieten" om uw favoriete producten en gerechten te zien.</p>
{% endblock %}