{% extends "food_tracker/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'food_tracker/form.css' %}" rel="stylesheet">
{% endblock %}

{% block body %} 
    <h2>Nieuw Gerecht</h2>
    <form class="structured-form" action="{% url 'new_meal' %}" method="post">
        {% csrf_token %}
        <label for="name">Gerecht Naam:</label>
        <input type="text" id="name" name="name">
        <input class="structured-btn" type="submit" value="Bevestig">
    </form>
{% endblock %}  

{% block help %}
    <p class="sentence">1. Geef uw nieuwe gerecht een naam door het veld in te vullen.</p>
    <p class="sentence bottom">2. Door te klikken op de knop "bevestig" wordt u doorgestuurd naar het overzicht van uw nieuwe gerecht waar producten toegevoegd kunnen worden.</p>
{% endblock %}
