h1, h2 {
  margin: 10px;
}

.margined-div {
  margin: 10px;
}

.margined-div button {
  padding: 5px;
  margin: 2.5px;
}

button, input[type=radio], input[type=date] {
  cursor: pointer;
}

.added {
  cursor: default;
}

.checked {
  color: gold;
}

.center-form {
  position: relative;
  width: 100%;
  height: 100%;
}

.specify {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dir-btn {
  background: black;
  color: #F8F8F8;
}

.dir-btn:hover {
  background: purple;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-plus-circle {
  font-size: 48px;
  color: black;
}

.fa-plus-circle:hover {
  color: purple;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-plus, .fa-check {
  font-size: 24px;
  color: black;
}

.fa-plus:hover, .fa-check:hover {
  color: purple;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-times, .fa-exclamation-circle {
  color: red;
}

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  max-height: auto;
  -ms-grid-columns: 0.8fr 3fr;
      grid-template-columns: 0.8fr 3fr;
  -ms-grid-rows: 80px minmax(0, auto) 100px;
      grid-template-rows: 80px minmax(0, auto) 100px;
      grid-template-areas: "nav nav"  "sidebar main"  "footer footer";
  gap: 0.2rem;
  background: linear-gradient(120deg, gray, white);
}

nav {
  background: #606060;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  height: 80px;
  width: 100%;
}

nav .fa {
  line-height: 80px;
}

nav .slide-nav {
  float: right;
  margin-right: 20px;
}

nav .slide-nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav .slide-nav ul li a {
  color: #F8F8F8;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

nav .slide-nav ul li a:hover {
  background: #404040;
  -webkit-transition: 3s;
  transition: 3s;
}

main {
  background: linear-gradient(120deg, gray, white);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

.sidebar {
  background: purple;
  color: #F8F8F8;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

.sidebar .fa {
  line-height: 80px;
}

.sentence {
  padding: 3px 15px;
}

.bottom {
  padding-bottom: 10px;
}

footer {
  background: #404040;
  color: #F8F8F8;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.checkbtn {
  font-size: 30px;
  color: #F8F8F8;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.check {
  display: none;
}

label.logo {
  color: #F8F8F8;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav .slide-nav ul li a {
    font-size: 15px;
  }
}

@media (max-width: 1030px) {
  #checkbtn-nav {
    display: block;
  }
  nav .slide-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    -webkit-transition: all .5s;
    transition: all .5s;
    background: #404040;
    top: 80px;
    text-align: center;
  }
  nav .slide-nav ul li {
    display: block;
  }
  nav .slide-nav ul li a {
    font-size: 20px;
  }
  nav .slide-nav ul li a:hover {
    background: #282828;
  }
  #check:checked ~ .slide-nav {
    left: 0;
    z-index: 1;
  }
}

@media (max-width: 650px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.4fr 0.4fr minmax(500px, auto) 1fr;
        grid-template-rows: 0.4fr 0.4fr minmax(500px, auto) 1fr;
        grid-template-areas: "nav" "sidebar" "main" "footer";
  }
  nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  .sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sidebar;
  }
  main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .slide-side {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    -webkit-transition: all .5s;
    transition: all .5s;
    background: purple;
    top: 160px;
  }
  #checkbtn-side {
    display: block;
  }
  #check-side:checked ~ .slide-side {
    left: 0;
  }
}
/*# sourceMappingURL=layout.css.map */