$primary: purple;
$secondary: silver;
$third: #606060;
$fourth: #404040;
$fifth: #282828;
$background: linear-gradient(120deg, gray,white);
$text: #F8F8F8;

h1, h2{
    margin: 10px;
}

.margined-div{
    margin: 10px;
    button{
        padding: 5px;
        margin: 2.5px;
    }
}

button, input[type=radio], input[type=date]{
    cursor: pointer;
}

.added{
    cursor: default;
}

.checked{
    color: gold;
}

.center-form{
    position: relative;
    width: 100%;
    height: 100%;
}

.specify{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.dir-btn{
    background: black;
    color: $text;
    &:hover{
        background: $primary;
        transition: 0.5s;
    }
}

.fa-plus-circle{
    font-size:48px;
    color: black;
    &:hover{
        color: $primary;
        transition: 0.5s;
    }
}

.fa-plus, .fa-check{
    font-size:24px;
    color: black;
    &:hover{
        color: $primary;
        transition: 0.5s;
    }
}

.fa-times, .fa-exclamation-circle{
    color: red;
}