{% extends "food_tracker/layout.html" %}

{% block body %} 

    <div class="header">

        <strong>

            {{ product.name }}

        </strong>

    </div>

    <form id="add_product_form" method="post">

        {% csrf_token %}

        <label for="amount">Hoeveelheid ({{ product.unit }})</label>
        <input type="number" id="amount" name="amount" min="0"><br>
        
        <label for="breakfast">Breakfast</label>
        <input type="radio" id="breakfast" name="period" value="breakfast">

        <label for="lunch">Lunch</label>
        <input type="radio" id="lunch" name="period" value="lunch">
        
        <label for="dinner">Dinner</label>
        <input type="radio" id="dinner" name="period" value="dinner">
        
        <label for="snacks">Snacks</label>
        <input type="radio" id="snacks" name="period" value="snacks">

        <br>

        <input type="submit" value="Voeg Toe">

    </form>

{% endblock %}  