{% extends "food_tracker/layout.html" %}

{% block body %} 
    <form method="post">
        {% csrf_token %}
        <input type="text" name="amount"><br>
        
        <input type="radio" id="breakfast" name="period" value="breakfast">
        <label for="breakfast">Breakfast</label><br>
        <input type="radio" id="lunch" name="period" value="lunch">
        <label for="lunch">Lunch</label><br>
        <input type="radio" id="dinner" name="period" value="dinner">
        <label for="dinner">Dinner</label><br>
        <input type="radio" id="snacks" name="period" value="snacks">
        <label for="snacks">Snacks</label><br>

        <input type="submit" value="Voeg Toe">

    </form>
{% endblock %}  