{% extends "food_tracker/layout.html" %}

{% block body %} 

    <div class="header">

        <strong>

            {{ meal.name }}

        </strong>

    </div>

    <div class="preferences">

        <a href="{% url 'default' meal.id date %}">Stel Voorkeur In</a>

        <br>
        
        <a href="{% url 'get_default' meal.id date %}">Gebruik Voorkeur</a>

    </div>

    {% if message %}

        {{ message }}

    {% endif %}

    <form id="add_meal_form" action="{% url 'add_meal' meal.id date %}" method="post">

        {% csrf_token %}

        {% for product in meal.product.all %}

            {% if product in products %}

                {% for default in defaults %}

                    {% if product == default.product %}

                        {{ product.name }}
                        <input type="text" name="{{ product.id }}" value="{{ default.amount }}" min="0">
                        <br>
                        {{ product.unit }}

                    {% endif %}

                {% endfor %}

            {% else %}

                {{ product.name }} ({{ product.unit }})
                <input type="text" name="{{ product.id }}" min="0"> 
                <br>

            {% endif %}

        {% empty %}

            Dit Gerecht Bevat Momenteel Geen Producten. Klik <a href="{% url 'search' date %}">Hier</a> Om Opnieuw Te Zoeken.

        {% endfor %}

        <label for="breakfast">Breakfast</label>
        <input type="radio" id="breakfast" name="period" value="breakfast">

        <label for="lunch">Lunch</label>
        <input type="radio" id="lunch" name="period" value="lunch">
        
        <label for="dinner">Dinner</label>
        <input type="radio" id="dinner" name="period" value="dinner">
        
        <label for="snacks">Snacks</label>
        <input type="radio" id="snacks" name="period" value="snacks">

        <br>
        
        <input type="submit" value="Voeg Toe">

    </form>

{% endblock %}
