{% extends "food_tracker/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'food_tracker/form.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2>
        Voorkeur instellen voor {{ meal.name }}
    </h2>
    <div class="margined-div">
        <a href="{% url 'add_meal' meal.id date %}">
            <button class="dir-btn">
                Terug
            </button>
        </a>
    </div>
    <form class="structured-form" action="{% url 'set_default' meal.id date %}" method="post">
        {% csrf_token %}
        {% for product in meal.product.all %}
            <!--Check for existing preferences and add values-->
            {% if product in products %}
                {% for default in defaults %}
                    {% if product == default.product %}
                        <label for="{{ product.id }}">{{ product.name }} ({{ product.unit }})</label>
                        <input type="number" id="{{ product.id }}" name="{{ product.id }}" value="{{ default.amount }}" min="0">
                    {% endif %}
                {% endfor %}
            {% else %}
                <label for="{{ product.id }}">{{ product.name }} ({{ product.unit }})</label>
                <input type="number" id="{{ product.id }}" name="{{ product.id }}" min="0">
            {% endif %}
        {% endfor %}
        <input class="structured-btn" type="submit" value="Bevestig">
    </form>
{% endblock %}

{% block help %}
    <p class="sentence">1. Vul voor elk product in dit gerecht de gewenste voorkeurshoeveelheid in.</p>
    <p class="sentence">2. De hoeveelheden moeten minimaal 0 zijn.</p>
    <p class="sentence">3. Bevestig de hoeveelheden door op de knop "bevestig" te drukken.</p>
    <p class="sentence bottom">4. U kunt terug naar het overzicht om het gerecht toe te voegen door op de "terug" knop te drukken.</p>
{% endblock %}