{% extends "food_tracker/layout.html" %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
    $( function() {
    $( "#datepicker" ).datepicker();
    } );
    </script>
{% endblock %}

{% block body %}

    <div>
        {{ date.day }}-{{ date.month }}-{{ date.year }}
    </div>

    <div>

    {% for period in periods %}

        <table>
            {{ period.name }}
            <tr>
                <th>
                    Naam
                </th>
                <th>
                    Hoeveelheid
                </th>
                <th>
                    Cals
                </th>
                <th>
                    Carbs
                </th>
                <th>
                    Protein
                </th>
                <th>
                    Fat
                </th>
            </tr>
            {% for item in period.items.all %}
            <tr>
                <td>
                    {{ item.product.name }}
                </td>
                <td>
                    {{ item.amount }} {{ item.product.unit }}
                </td>
                <td>
                    {{ item.calories }} 
                </td>
                <td>
                    {{ item.carbs }} 
                </td>
                <td>
                    {{ item.protein }} 
                </td>
                <td>
                    {{ item.fat }} 
                </td>
            </tr>
            {% endfor %}
            
            <tr>
                <th>
                </th>
                <th>
                </th>
                {% for value in period.nutrition %}
                <th>
                    Total
                </th>
                {% endfor %}
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                {% for value in period.nutrition %}
                <td>
                    {{ value }}
                </td>
                {% endfor %}
            </tr>
        </table>
        <br>

    {% endfor %}  

        <table>
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th>
                    Dagelijks Total
                </th>
                <th>
                    Dagelijks Total
                </th>
                <th>
                    Dagelijks Total
                </th>
                <th>
                    Dagelijks Total
                </th>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>
                    {{ total_calories }}
                </td>
                <td>
                    {{ total_carbs }}
                </td>
                <td>
                    {{ total_protein }}
                </td>
                <td>
                    {{ total_fat }}
                </td>
            </tr>
        </table>
        <br>
    </div>
    <a href="{% url 'search' alt_date %}">Voeg Toe</a><br>

    <a href="{% url 'alt' previous %}">Gister</a><br>

    <a href="{% url 'alt' next %}">Morgen</a><br>

    <form action="{% url 'calender' %}" method="post">
        {% csrf_token %}
        <p>Date: <input type="text" id="datepicker" name="date"></p>
    </form>




{% endblock %}