{% extends "food_tracker/layout.html" %}

{% block head %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body %}

    <div class="date">

        <div class="date-present">

            <a href="{% url 'alt' previous %}"><button id="previous"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></a>

            {{ date_object.day }}-{{ date_object.month }}-{{ date_object.year }}

            <a href="{% url 'alt' next %}"><button id="next"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>

        </div>

        <div class="date-calender">

            <form action="{% url 'calender' %}" method="post">

                {% csrf_token %}
        
                Datum: <input type="date" class="datepicker" name="date">
    
                <input type="submit" value="Kies Een Datum">
        
            </form>

        </div>
    
    </div>

    <div class="row">

        <div class="index_column">

            <div class="table">

            {% for period in periods %}

                <table class="diary">

                    <strong>{{ period.name }}</strong>

                    <br>
                    <br>

                    <tr>

                        <th>
                            Naam
                        </th>

                        <th>
                            Hoeveelheid
                        </th>

                        <th>
                            Calorie
                        </th>

                        <th>
                            Koolhydraten
                        </th>

                        <th>
                            Eiwit
                        </th>

                        <th>
                            Vet
                        </th>

                    </tr>

                    {% for item in period.items.all %}

                    <tr>

                        <td>
                            {{ item.product.name }}
                        </td>

                        <td>
                            {{ item.amount }} {{ item.product.unit }}
                        </td>

                        <td>
                            {{ item.calories }} 
                        </td>

                        <td>
                            {{ item.carbs }} 
                        </td>

                        <td>
                            {{ item.protein }} 
                        </td>

                        <td>
                            {{ item.fat }} 
                        </td>

                    </tr>

                    {% endfor %}
                    
                    <tr>

                        <th>
                        </th>

                        <th>
                        </th>

                        {% for value in period.nutrition %}

                            <th>
                                Totaal
                            </th>

                        {% endfor %}
                    
                    </tr>

                    <tr>

                        <td>
                        </td>

                        <td>
                        </td>

                        {% for value in period.nutrition %}

                            <td>
                                {{ value }}
                            </td>

                        {% endfor %}

                    </tr>

                </table>

                <br>

            {% endfor %}  

            </div>

        </div>

        <div class="index_column">

            <div class="daily_summary">

                <strong>Dag Overzicht</strong>

                <br>
                <br>

                {% for total in totals %}

                    {{ total }}

                    <br>
                    <br>

                {% endfor %}

            </div>

            <div class="add_button">

                <br>

                <a href="{% url 'search' date %}"><i class="fa fa-plus-circle" style="font-size:48px;color:green"></i></a>
            
                <br>
        
            </div>

        </div>

    </div>

{% endblock %}