{% extends "food_tracker/layout.html" %}

{% block body %}

    <h2>Registreer</h2>

    {% if message %}

        <div>{{ message }}</div>

    {% endif %}

    <form action="{% url 'register' %}" method="post">

        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Gebruikersnaam">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Wachtwoord">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Bevestig Wachtwoord">
        </div>

        <input class="btn btn-primary" type="submit" value="Registreer">

    </form>

    Al een account aangemaakt? <a href="{% url 'login' %}">Log hier in.</a>

{% endblock %}