{% extends "food_tracker/layout.html" %}

{% block body %}

    {% if date %}
    <form action="{% url 'results' date %}" method="post">
        {% csrf_token %}
        <input class="search" type="text" name="q" placeholder="Zoek Product Of Gerecht">
    </form>
    <br>
    <a href="{% url 'favorites' %}">Toon Favorieten</a>
    {% else %}
    <form action="{% url 'meal_results' meal.id %}" method="post">
        {% csrf_token %}
        <input class="search" type="text" name="q" placeholder="Zoek Product">
    </form>
    {% endif %}

{% endblock %}