{% extends "food_tracker/layout.html" %}

{% block body %}

    {% if date %}

        <div class="search_div">

            <div id="show_favorites">

                <a href="{% url 'favorites' %}">Toon Favorieten</a>

            </div>

            <form class="search_form" action="{% url 'results' date %}" method="post">
        
                {% csrf_token %}
            
                <input class="search" type="text" name="q" placeholder="Zoek Product Of Gerecht">

                <input type="submit" value="Zoek">

            </form>

        </div>

    {% else %}

        <div class="search_div">

            <form class="search_form" action="{% url 'meal_results' meal.id %}" method="post">
        
                {% csrf_token %}
            
                <input class="search" type="text" name="q" placeholder="Zoek Product">

                <input type="submit" value="Zoek">
        
            </form>

        </div>

    {% endif %}

{% endblock %}